body {
  margin: 0;
  overflow-x: hidden;
  background-image: "./images/bonklogo.png";
  background-size: cover;
    /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=f8da08&c2=ff9722&gt=r&gd=dcc
  */
  background: #F8DA08;
  background: radial-gradient(at center, #F8DA08, #FF9722);
}

*, *::before, *::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: #f3f3f3;
}

p {
  display: block;
}
input, select, option {
  margin:10px;
  padding: 5px;
  border-radius: 2px;
  color: #333!important;
  display: block;
}
label {
  display: block;
  font-weight: bolder;
  text-align: center;
}


.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
  padding: 20px;
}

.splash-title {
  font-family: 'Carter One', cursive;
  font-size: 6.7rem;
  color: #F3F3F3;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.subtitle {
  margin-top: -10px;
  font-family: 'Carter One', cursive;
  font-size: 2rem;
  color: #F3F3F3!important;
  text-align: center;
}

.splash-battleship-image {
  position: absolute;
  bottom: 1vh;
  left: 13vw;
  width: 89%;
  transform: rotateY(180deg);
  pointer-events: none;
  opacity: .25;
} 

.splash-btn {
  font-size: 2rem;
  margin-left: 2rem;
}

.splash-btn:first-child {
  margin-left: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px;
}

.hidden-info {
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.info-text {
  margin: 1rem;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 40px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 25%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}